flows.json
[
   {
      "id":"11f57824.83b42",
      "type":"tab",
      "label":"Flow 2",
      "disabled":false,
      "info":""
   },
   {
      "id":"9a464e08.9f2be8",
      "type":"tab",
      "label":"Flow 3",
      "disabled":false,
      "info":""
   },
   {
      "id":"4d5af594.4bdbbc",
      "type":"tab",
      "label":"Flow 4",
      "disabled":false,
      "info":""
   },
   {
      "id":"a966b4eb.df0498",
      "type":"tab",
      "label":"Flow 5",
      "disabled":false,
      "info":""
   },
   {
      "id":"7dd2b14f.06fe88",
      "type":"tab",
      "label":"Flow 6",
      "disabled":false,
      "info":""
   },
   {
      "id":"8a639660.8b633",
      "type":"consumed-thing",
      "tdLink":"",
      "td":"{\"@context\":[\"http://w3c.github.io/wot/w3c-wot-td-context.jsonld\",\"http://w3c.github.io/wot/w3c-wot-common-context.jsonld\"],\"@type\":[\"Thing\",\"BuildingSpace\"],\"geo:long\":54.5476878,\"geo:lat\":12.45787,\"name\":\"Brightness sensor\",\"interactions\":[{\"name\":\"brightness\",\"@type\":[\"Property\",\"Light\"],\"outputData\":{\"type\":\"object\",\"properties\":{\"value\":{\"@id\":\"saref:hasValue\",\"type\":\"number\"},\"unit\":{\"@id\":\"saref:isMeasuredIn\",\"@type\":\"@id\",\"type\":\"string\"}}},\"link\":[{\"href\":\"coap://example.org/sensor/light\",\"mediaType\":\"application/json\"}]}]}",
      "http":false,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"e2dbb67a.9b45f8",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8080/PD1",
      "td":"{\"title\":\"TestThing\",\"properties\":{\"bool\":{\"title\":\"true/false\",\"type\":\"boolean\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/bool\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/bool\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"int\":{\"title\":\"Integer number\",\"type\":\"integer\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/int\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/int\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"num\":{\"title\":\"Floating point\",\"type\":\"number\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/num\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/num\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"string\":{\"type\":\"string\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/string\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/string\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"array\":{\"title\":\"Tuple\",\"type\":\"array\",\"items\":{},\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/array\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/array\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"object\":{\"title\":\"ID-name\",\"description\":\"Object with ID and name\",\"type\":\"object\",\"properties\":{\"id\":{\"title\":\"ID\",\"description\":\"Internal identifier\",\"type\":\"integer\"},\"name\":{\"title\":\"Name\",\"description\":\"Public name\",\"type\":\"string\"}},\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/object\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/object\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]}},\"actions\":{\"void-void\":{\"title\":\"void-void Action\",\"description\":\"Action without input nor output\",\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/void-void\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/void-void\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"void-int\":{\"title\":\"void-void Action\",\"description\":\"Action without input nor output\",\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/void-int\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/void-int\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"int-void\":{\"title\":\"int-void Action\",\"description\":\"Action with integer input, but without output\",\"input\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/int-void\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/int-void\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"int-int\":{\"title\":\"int-int Action\",\"description\":\"Action with integer input and output\",\"input\":{\"type\":\"integer\"},\"output\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/int-int\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/int-int\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"int-string\":{\"title\":\"int-string Action\",\"description\":\"Action with integer input and string output\",\"input\":{\"type\":\"integer\"},\"output\":{\"type\":\"string\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/int-string\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/int-string\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"void-obj\":{\"title\":\"void-obj Action\",\"description\":\"Action without input, but with object output\",\"output\":{\"type\":\"object\",\"properties\":{\"prop1\":{\"type\":\"integer\"},\"prop2\":{\"type\":\"string\"}},\"required\":[\"prop1\",\"prop2\"]},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/void-obj\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/void-obj\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"obj-void\":{\"title\":\"obj-void Action\",\"description\":\"Action with object input, but wihtout output\",\"input\":{\"type\":\"object\",\"properties\":{\"prop1\":{\"type\":\"integer\"},\"prop2\":{\"type\":\"string\"}},\"required\":[\"prop1\",\"prop2\"]},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/obj-void\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/obj-void\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"on-bool\":{\"title\":\"on-bool Event\",\"description\":\"Event with boolean data\",\"data\":{\"type\":\"boolean\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/events/on-bool\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]},{\"href\":\"ws://plugfest.thingweb.io:8083/testthing/events/on-bool\",\"contentType\":\"application/json\",\"op\":\"subscribeevent\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/events/on-bool\",\"contentType\":\"application/json\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"on-int\":{\"title\":\"on-int Event\",\"description\":\"Event with integer data\",\"data\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/events/on-int\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]},{\"href\":\"ws://plugfest.thingweb.io:8083/testthing/events/on-int\",\"contentType\":\"application/json\",\"op\":\"subscribeevent\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/events/on-int\",\"contentType\":\"application/json\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"on-num\":{\"title\":\"on-num Event\",\"description\":\"Event with number data\",\"data\":{\"type\":\"number\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/events/on-num\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]},{\"href\":\"ws://plugfest.thingweb.io:8083/testthing/events/on-num\",\"contentType\":\"application/json\",\"op\":\"subscribeevent\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/events/on-num\",\"contentType\":\"application/json\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:f8248a5d-2c9f-4480-acda-f6d30e96cbad\",\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":true,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"a84e6c98.5013c8",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8888/",
      "td":"{\"security\":\"nosec_sc\",\"@type\":[\"OnOffSwitch\",\"Light\"],\"description\":\"A web connected lamp\",\"links\":[{\"rel\":\"properties\",\"href\":\"/properties\"},{\"rel\":\"actions\",\"href\":\"/actions\"},{\"rel\":\"events\",\"href\":\"/events\"},{\"rel\":\"alternate\",\"href\":\"ws://localhost:8888/\"}],\"id\":\"urn:dev:ops:my-lamp-1234\",\"title\":\"My Lamp\",\"@context\":\"https://iot.mozilla.org/schemas\",\"actions\":{\"fade\":{\"input\":{\"type\":\"object\",\"required\":[\"brightness\",\"duration\"],\"properties\":{\"duration\":{\"unit\":\"milliseconds\",\"type\":\"integer\",\"minimum\":1},\"brightness\":{\"unit\":\"percent\",\"maximum\":100,\"type\":\"integer\",\"minimum\":0}}},\"description\":\"Fade the lamp to a given level\",\"links\":[{\"rel\":\"action\",\"href\":\"/actions/fade\"}],\"title\":\"Fade\"}},\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}},\"properties\":{\"brightness\":{\"unit\":\"percent\",\"@type\":\"BrightnessProperty\",\"description\":\"The level of light from 0-100\",\"maximum\":100,\"links\":[{\"rel\":\"property\",\"href\":\"/properties/brightness\"}],\"title\":\"Brightness\",\"type\":\"integer\",\"minimum\":0},\"on\":{\"@type\":\"OnOffProperty\",\"description\":\"Whether the lamp is turned on\",\"links\":[{\"rel\":\"property\",\"href\":\"/properties/on\"}],\"title\":\"On/Off\",\"type\":\"boolean\"}},\"events\":{\"overheated\":{\"unit\":\"degree celsius\",\"description\":\"The lamp has exceeded its safe operating temperature\",\"links\":[{\"rel\":\"event\",\"href\":\"/events/overheated\"}],\"type\":\"number\"}},\"base\":\"http://localhost:8888/\"}",
      "http":false,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"aa1b4b0a.5972d8",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8888/1",
      "td":"{\"security\":\"nosec_sc\",\"@type\":[\"MultiLevelSensor\"],\"description\":\"A web connected humidity sensor\",\"links\":[{\"rel\":\"properties\",\"href\":\"/1/properties\"},{\"rel\":\"actions\",\"href\":\"/1/actions\"},{\"rel\":\"events\",\"href\":\"/1/events\"},{\"rel\":\"alternate\",\"href\":\"ws://localhost:8888/1\"}],\"id\":\"urn:dev:ops:my-humidity-sensor-1234\",\"title\":\"My Humidity Sensor\",\"@context\":\"https://iot.mozilla.org/schemas\",\"actions\":{},\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}},\"properties\":{\"level\":{\"unit\":\"percent\",\"@type\":\"LevelProperty\",\"description\":\"The current humidity in %\",\"maximum\":100,\"readOnly\":true,\"links\":[{\"rel\":\"property\",\"href\":\"/1/properties/level\"}],\"title\":\"Humidity\",\"type\":\"number\",\"minimum\":0}},\"events\":{},\"base\":\"http://localhost:8888/1\"}",
      "http":false,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"f4e89d0a.2396b",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8888/0",
      "td":"{\"security\":\"nosec_sc\",\"@type\":[\"OnOffSwitch\",\"Light\"],\"description\":\"A web connected lamp\",\"links\":[{\"rel\":\"properties\",\"href\":\"/0/properties\"},{\"rel\":\"actions\",\"href\":\"/0/actions\"},{\"rel\":\"events\",\"href\":\"/0/events\"},{\"rel\":\"alternate\",\"href\":\"ws://localhost:8888/0\"}],\"id\":\"urn:dev:ops:my-lamp-1234\",\"title\":\"My Lamp\",\"@context\":\"https://iot.mozilla.org/schemas\",\"actions\":{\"fade\":{\"input\":{\"type\":\"object\",\"required\":[\"brightness\",\"duration\"],\"properties\":{\"duration\":{\"unit\":\"milliseconds\",\"type\":\"integer\",\"minimum\":1},\"brightness\":{\"unit\":\"percent\",\"maximum\":100,\"type\":\"integer\",\"minimum\":0}}},\"description\":\"Fade the lamp to a given level\",\"links\":[{\"rel\":\"action\",\"href\":\"/0/actions/fade\"}],\"title\":\"Fade\"}},\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}},\"properties\":{\"brightness\":{\"unit\":\"percent\",\"@type\":\"BrightnessProperty\",\"description\":\"The level of light from 0-100\",\"maximum\":100,\"links\":[{\"rel\":\"property\",\"href\":\"/0/properties/brightness\"}],\"title\":\"Brightness\",\"type\":\"integer\",\"minimum\":0},\"on\":{\"@type\":\"OnOffProperty\",\"description\":\"Whether the lamp is turned on\",\"links\":[{\"rel\":\"property\",\"href\":\"/0/properties/on\"}],\"title\":\"On/Off\",\"type\":\"boolean\"}},\"events\":{\"overheated\":{\"unit\":\"degree celsius\",\"description\":\"The lamp has exceeded its safe operating temperature\",\"links\":[{\"rel\":\"event\",\"href\":\"/0/events/overheated\"}],\"type\":\"number\"}},\"base\":\"http://localhost:8888/0\"}",
      "http":false,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"95d1c312.683718",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8888/",
      "td":"{\"security\":\"nosec_sc\",\"@type\":[\"LeakProperty\"],\"description\":\"Sensor for underwater technology\",\"links\":[{\"rel\":\"properties\",\"href\":\"/properties\"},{\"rel\":\"actions\",\"href\":\"/actions\"},{\"rel\":\"events\",\"href\":\"/events\"},{\"rel\":\"alternate\",\"href\":\"ws://localhost:8888/\"}],\"id\":\"new:thing\",\"title\":\"PD1\",\"@context\":\"https://iot.mozilla.org/schemas\",\"actions\":{},\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}},\"properties\":{\"CO2\":{\"unit\":\"percent\",\"@type\":\"LevelProperty\",\"description\":\"The current CO2 in %\",\"maximum\":100,\"readOnly\":true,\"links\":[{\"rel\":\"property\",\"href\":\"/properties/CO2\"}],\"title\":\"CO2\",\"type\":\"number\",\"minimum\":0}},\"events\":{\"GasLeakage\":{\"description\":\"Event for GasLeakage\",\"links\":[{\"rel\":\"event\",\"href\":\"/events/GasLeakage\"}],\"type\":\"boolean\"}},\"base\":\"http://localhost:8888/\"}",
      "http":false,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"6a3cdb06.736834",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8888/",
      "td":"{\"security\":\"nosec_sc\",\"@type\":[\"LeakProperty\"],\"description\":\"Sensor for underwater technology\",\"links\":[{\"rel\":\"properties\",\"href\":\"/properties\"},{\"rel\":\"actions\",\"href\":\"/actions\"},{\"rel\":\"events\",\"href\":\"/events\"},{\"rel\":\"alternate\",\"href\":\"ws://localhost:8888/\"}],\"id\":\"new:thing\",\"title\":\"PD1\",\"@context\":\"https://iot.mozilla.org/schemas\",\"actions\":{},\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}},\"properties\":{\"CO2\":{\"unit\":\"percent\",\"@type\":\"LevelProperty\",\"description\":\"The current CO2 in %\",\"maximum\":100,\"readOnly\":true,\"links\":[{\"rel\":\"property\",\"href\":\"/properties/CO2\"}],\"title\":\"CO2\",\"type\":\"number\",\"minimum\":0}},\"events\":{\"GasLeakage\":{\"description\":\"Event for GasLeakage\",\"links\":[{\"rel\":\"event\",\"href\":\"/events/GasLeakage\"}],\"type\":\"boolean\"}},\"base\":\"http://localhost:8888/\"}",
      "http":false,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"2349d474.d0650c",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8080/PD1",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"new:thing\",\"title\":\"PD1\",\"description\":\"Pilot Demonstrator 1\",\"properties\":{\"O2\":{\"type\":\"integer\",\"description\":\"current O2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8080/PD1/properties/O2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"CO2\":{\"type\":\"integer\",\"description\":\"current CO2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8080/PD1/properties/CO2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"events\":{\"GasLeakage\":{\"type\":\"boolean\",\"description\":\"Warning from gas leakage\",\"forms\":[{\"href\":\"http://192.168.0.36:8080/PD1/events/GasLeakage\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.0.36:8080/PD1/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"57206817.067cf",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8080/PD1",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"new:thing\",\"title\":\"PD1\",\"description\":\"Pilot Demonstrator 1\",\"properties\":{\"O2\":{\"type\":\"integer\",\"description\":\"current O2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8080/PD1/properties/O2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"CO2\":{\"type\":\"integer\",\"description\":\"current CO2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8080/PD1/properties/CO2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"events\":{\"GasLeakage\":{\"type\":\"boolean\",\"description\":\"Warning from gas leakage\",\"forms\":[{\"href\":\"http://192.168.0.36:8080/PD1/events/GasLeakage\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.0.36:8080/PD1/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"a13c45d1.b1846",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8081/PD1",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"new:thing\",\"title\":\"PD1\",\"description\":\"Pilot Demonstrator 1\",\"properties\":{\"O2\":{\"type\":\"integer\",\"description\":\"current O2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/properties/O2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"CO2\":{\"type\":\"integer\",\"description\":\"current CO2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/properties/CO2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"events\":{\"GasLeakage\":{\"type\":\"boolean\",\"description\":\"Warning from gas leakage\",\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/events/GasLeakage\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"848df81c.55c2a",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8081/PD1",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"new:thing\",\"title\":\"PD1\",\"description\":\"Pilot Demonstrator 1\",\"properties\":{\"O2\":{\"type\":\"integer\",\"description\":\"current O2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/properties/O2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"CO2\":{\"type\":\"integer\",\"description\":\"current CO2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/properties/CO2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"events\":{\"GasLeakage\":{\"type\":\"boolean\",\"description\":\"Warning from gas leakage\",\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/events/GasLeakage\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"c5c8f5c9.ace7",
      "type":"consumed-thing",
      "tdLink":"http://localhost:8081/PD1",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"new:thing\",\"title\":\"PD1\",\"description\":\"Pilot Demonstrator 1\",\"properties\":{\"O2\":{\"type\":\"integer\",\"description\":\"current O2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/properties/O2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"CO2\":{\"type\":\"integer\",\"description\":\"current CO2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/properties/CO2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"events\":{\"GasLeakage\":{\"type\":\"boolean\",\"description\":\"Warning from gas leakage\",\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/events/GasLeakage\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.0.36:8081/PD1/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"3b34f130.bcc94e",
      "type":"consumed-thing",
      "tdLink":"http://plugfest.thingweb.io:8083/testthing",
      "td":"{\"title\":\"TestThing\",\"properties\":{\"bool\":{\"title\":\"true/false\",\"type\":\"boolean\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/bool\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/bool\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"int\":{\"title\":\"Integer number\",\"type\":\"integer\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/int\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/int\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"num\":{\"title\":\"Floating point\",\"type\":\"number\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/num\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/num\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"string\":{\"type\":\"string\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/string\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/string\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"array\":{\"title\":\"Tuple\",\"type\":\"array\",\"items\":{},\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/array\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/array\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"object\":{\"title\":\"ID-name\",\"description\":\"Object with ID and name\",\"type\":\"object\",\"properties\":{\"id\":{\"title\":\"ID\",\"description\":\"Internal identifier\",\"type\":\"integer\"},\"name\":{\"title\":\"Name\",\"description\":\"Public name\",\"type\":\"string\"}},\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/properties/object\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/properties/object\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]}},\"actions\":{\"void-void\":{\"title\":\"void-void Action\",\"description\":\"Action without input nor output\",\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/void-void\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/void-void\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"void-int\":{\"title\":\"void-void Action\",\"description\":\"Action without input nor output\",\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/void-int\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/void-int\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"int-void\":{\"title\":\"int-void Action\",\"description\":\"Action with integer input, but without output\",\"input\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/int-void\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/int-void\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"int-int\":{\"title\":\"int-int Action\",\"description\":\"Action with integer input and output\",\"input\":{\"type\":\"integer\"},\"output\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/int-int\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/int-int\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"int-string\":{\"title\":\"int-string Action\",\"description\":\"Action with integer input and string output\",\"input\":{\"type\":\"integer\"},\"output\":{\"type\":\"string\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/int-string\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/int-string\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"void-obj\":{\"title\":\"void-obj Action\",\"description\":\"Action without input, but with object output\",\"output\":{\"type\":\"object\",\"properties\":{\"prop1\":{\"type\":\"integer\"},\"prop2\":{\"type\":\"string\"}},\"required\":[\"prop1\",\"prop2\"]},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/void-obj\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/void-obj\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false},\"obj-void\":{\"title\":\"obj-void Action\",\"description\":\"Action with object input, but wihtout output\",\"input\":{\"type\":\"object\",\"properties\":{\"prop1\":{\"type\":\"integer\"},\"prop2\":{\"type\":\"string\"}},\"required\":[\"prop1\",\"prop2\"]},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/actions/obj-void\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/actions/obj-void\",\"contentType\":\"application/json\",\"op\":\"invokeaction\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"on-bool\":{\"title\":\"on-bool Event\",\"description\":\"Event with boolean data\",\"data\":{\"type\":\"boolean\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/events/on-bool\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]},{\"href\":\"ws://plugfest.thingweb.io:8083/testthing/events/on-bool\",\"contentType\":\"application/json\",\"op\":\"subscribeevent\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/events/on-bool\",\"contentType\":\"application/json\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"on-int\":{\"title\":\"on-int Event\",\"description\":\"Event with integer data\",\"data\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/events/on-int\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]},{\"href\":\"ws://plugfest.thingweb.io:8083/testthing/events/on-int\",\"contentType\":\"application/json\",\"op\":\"subscribeevent\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/events/on-int\",\"contentType\":\"application/json\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"on-num\":{\"title\":\"on-num Event\",\"description\":\"Event with number data\",\"data\":{\"type\":\"number\"},\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/events/on-num\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]},{\"href\":\"ws://plugfest.thingweb.io:8083/testthing/events/on-num\",\"contentType\":\"application/json\",\"op\":\"subscribeevent\"},{\"href\":\"coap://plugfest.thingweb.io:5683/testthing/events/on-num\",\"contentType\":\"application/json\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:f8248a5d-2c9f-4480-acda-f6d30e96cbad\",\"forms\":[{\"href\":\"http://plugfest.thingweb.io:8083/testthing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":true,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"9bbf8519.b4067",
      "type":"consumed-thing",
      "tdLink":"http://192.168.1.36:8080/PD1",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"PD1:thing\",\"title\":\"PD1\",\"description\":\"Pilot Demonstrator 1\",\"properties\":{\"CO2\":{\"type\":\"integer\",\"description\":\"current CO2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/CO2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"Temperature\":{\"type\":\"integer\",\"description\":\"current Temperature value in Celcius\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/Temperature\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"pH\":{\"type\":\"integer\",\"description\":\"current pH value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/pH\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"Gravity\":{\"type\":\"integer\",\"description\":\"current G force value in m/s^2\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/Gravity\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"Salinity\":{\"type\":\"integer\",\"description\":\"current Salinity value in parts per thousand\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/Salinity\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"events\":{\"GasLeakage\":{\"type\":\"boolean\",\"description\":\"Warning from gas leakage\",\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/events/GasLeakage\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]},{\"href\":\"ws://192.168.1.36:8081/PD1/events/GasLeakage\",\"contentType\":\"application/json\",\"op\":\"subscribeevent\"}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"b85b9db3.34a51",
      "type":"websocket-listener",
      "path":"ws://192.168.1.36:8081/PD4/events/GasLeakage",
      "wholemsg":"false"
   },
   {
      "id":"21ce0ac2.da32ae",
      "type":"websocket-listener",
      "path":"ws://192.168.1.36:8081/PD1/events/GasLeakage",
      "wholemsg":"true"
   },
   {
      "id":"2c97c20b.4df60e",
      "type":"websocket-client",
      "path":"ws://192.168.1.36:8081/PD1/events/GasLeakage",
      "tls":"",
      "wholemsg":"true"
   },
   {
      "id":"90f60252.ddce1",
      "type":"consumed-thing",
      "tdLink":"http://192.168.1.36:8080/PD1",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"PD1:thing\",\"title\":\"PD1\",\"description\":\"Pilot Demonstrator 1\",\"properties\":{\"CO2\":{\"type\":\"integer\",\"description\":\"current CO2 value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/CO2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"Temperature\":{\"type\":\"integer\",\"description\":\"current Temperature value in Celcius\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/Temperature\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"pH\":{\"type\":\"integer\",\"description\":\"current pH value\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/pH\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"Gravity\":{\"type\":\"integer\",\"description\":\"current G force value in m/s^2\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/Gravity\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"Salinity\":{\"type\":\"integer\",\"description\":\"current Salinity value in parts per thousand\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/properties/Salinity\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"events\":{\"GasLeakage\":{\"type\":\"boolean\",\"description\":\"Warning from gas leakage\",\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/events/GasLeakage\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]},{\"href\":\"ws://192.168.1.36:8081/PD1/events/GasLeakage\",\"contentType\":\"application/json\",\"op\":\"subscribeevent\"}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD1/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"8f83ac4a.9376",
      "type":"consumed-thing",
      "tdLink":"http://192.168.1.36:8080/PD2",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"PD2:thing\",\"title\":\"PD2\",\"description\":\"Pilot Demonstrator 2\",\"properties\":{\"AcousticTomopraphy\":{\"type\":\"integer\",\"unit\":\"hertz\",\"description\":\"current Acoustic Tomography in Hertz\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD2/properties/AcousticTomopraphy\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"GeoPositioning\":{\"type\":\"integer\",\"unit\":\"coordinates\",\"description\":\"current Geo-Positioning in coordinates\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD2/properties/GeoPositioning\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"OceanGraphicPoint\":{\"type\":\"integer\",\"unit\":\"coordinates\",\"description\":\"current Acoustic Environment in Hertz\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD2/properties/OceanGraphicPoint\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD2/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"fa68c6d7.81f75",
      "type":"consumed-thing",
      "tdLink":"http://192.168.1.36:8080/PD2",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"PD2:thing\",\"title\":\"PD2\",\"description\":\"Pilot Demonstrator 2\",\"properties\":{\"AcousticTomopraphy\":{\"type\":\"integer\",\"unit\":\"hertz\",\"description\":\"current Acoustic Tomography in Hertz\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD2/properties/AcousticTomopraphy\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"AcousticEnvironment\":{\"type\":\"integer\",\"unit\":\"hertz\",\"description\":\"current Acoustic Environment in Hertz\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD2/properties/AcousticEnvironment\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"GeoPositioning\":{\"type\":\"integer\",\"unit\":\"coordinates\",\"description\":\"current Geo-Positioning in coordinates\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD2/properties/GeoPositioning\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"OceanGraphicPoint\":{\"type\":\"integer\",\"unit\":\"coordinates\",\"description\":\"current Acoustic Environment in Hertz\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD2/properties/OceanGraphicPoint\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD2/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"45379bdd.bc54cc",
      "type":"consumed-thing",
      "tdLink":"http://192.168.1.36:8080/PD3",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"PD3:thing\",\"title\":\"PD3\",\"description\":\"Pilot Demonstrator 3\",\"properties\":{\"AcousticResonance\":{\"type\":\"integer\",\"unit\":\"hertz\",\"description\":\"current Acoustic Resonance in Hertz\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD3/properties/AcousticResonance\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"GUW\":{\"type\":\"integer\",\"description\":\"current GUW measurements\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD3/properties/GUW\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD3/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"a0e58be2.3ad128",
      "type":"consumed-thing",
      "tdLink":"http://192.168.1.36:8080/PD4",
      "td":"{\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"id\":\"PD4:thing\",\"title\":\"PD4\",\"description\":\"Pilot Demonstrator 4\",\"properties\":{\"PipelineVibration\":{\"type\":\"integer\",\"unit\":\"hertz\",\"description\":\"current Pipeline Vibrations in Hertz\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD4/properties/PipelineVibration\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"GUW\":{\"type\":\"integer\",\"description\":\"current GUW measurements\",\"observable\":false,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD4/properties/GUW\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"events\":{\"GasLeakage\":{\"type\":\"boolean\",\"description\":\"Warning from gas leakage\",\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD4/events/GasLeakage\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]},{\"href\":\"ws://192.168.1.36:8081/PD4/events/GasLeakage\",\"contentType\":\"application/json\",\"op\":\"subscribeevent\"}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"forms\":[{\"href\":\"http://192.168.1.36:8080/PD4/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
      "http":true,
      "coap":false,
      "mqtt":false,
      "opcua":false,
      "modbus":false
   },
   {
      "id":"a72f52c9.31f798",
      "type":"read-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"bool",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":110,
      "y":140,
      "wires":[
         [
            "1b246607.dd8782"
         ]
      ]
   },
   {
      "id":"81cd874e.00b04",
      "type":"read-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"int",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":110,
      "y":180,
      "wires":[
         [
            "1b246607.dd8782"
         ]
      ]
   },
   {
      "id":"583da5ed.addf5c",
      "type":"read-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"num",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":110,
      "y":220,
      "wires":[
         [
            "1b246607.dd8782"
         ]
      ]
   },
   {
      "id":"2deb9b0e.4d224c",
      "type":"read-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"string",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":120,
      "y":260,
      "wires":[
         [
            "1b246607.dd8782"
         ]
      ]
   },
   {
      "id":"e3916506.402b78",
      "type":"read-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"object",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":120,
      "y":300,
      "wires":[
         [
            "1b246607.dd8782"
         ]
      ]
   },
   {
      "id":"3ed8aaa8.790c76",
      "type":"write-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"bool",
      "uriVariables":"",
      "x":260,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"d61285ad.7ca828",
      "type":"write-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"int",
      "uriVariables":"",
      "x":250,
      "y":440,
      "wires":[
         
      ]
   },
   {
      "id":"465ded0.b301f94",
      "type":"write-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"num",
      "uriVariables":"",
      "x":260,
      "y":480,
      "wires":[
         
      ]
   },
   {
      "id":"33f8942b.340b24",
      "type":"write-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"string",
      "uriVariables":"",
      "x":260,
      "y":520,
      "wires":[
         
      ]
   },
   {
      "id":"367024fa.21d17c",
      "type":"write-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"array",
      "uriVariables":"",
      "x":260,
      "y":560,
      "wires":[
         
      ]
   },
   {
      "id":"9334d0de.f2a7e",
      "type":"write-property",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "property":"object",
      "uriVariables":"",
      "x":260,
      "y":600,
      "wires":[
         
      ]
   },
   {
      "id":"968bd5d4.f7be1",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"boolean",
      "props":[
         {
            "p":"payload"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"false",
      "payloadType":"bool",
      "x":90,
      "y":400,
      "wires":[
         [
            "3ed8aaa8.790c76"
         ]
      ]
   },
   {
      "id":"c670abc8.d8a8a",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"1",
      "payloadType":"num",
      "x":90,
      "y":440,
      "wires":[
         [
            "d61285ad.7ca828"
         ]
      ]
   },
   {
      "id":"1cb4ce8e.4e94a9",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"20",
      "payloadType":"num",
      "x":90,
      "y":480,
      "wires":[
         [
            "465ded0.b301f94"
         ]
      ]
   },
   {
      "id":"2ac3ca99.e13ff6",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"a string",
      "payloadType":"str",
      "x":90,
      "y":520,
      "wires":[
         [
            "33f8942b.340b24"
         ]
      ]
   },
   {
      "id":"65542504.787934",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"Array",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"[ \"Ford\", \"BMW\", \"Fiat\" ] ",
      "payloadType":"json",
      "x":90,
      "y":560,
      "wires":[
         [
            "367024fa.21d17c"
         ]
      ]
   },
   {
      "id":"8315d7e3.a6a3b",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"Object",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"{ \"name\":\"John\", \"age\":30, \"cars\":[ \"Ford\", \"BMW\", \"Fiat\" ] } ",
      "payloadType":"json",
      "x":90,
      "y":600,
      "wires":[
         [
            "9334d0de.f2a7e"
         ]
      ]
   },
   {
      "id":"75511d45.37d414",
      "type":"invoke-action",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "action":"void-void",
      "uriVariables":"",
      "x":270,
      "y":700,
      "wires":[
         [
            "5b9091e4.3054b8"
         ]
      ]
   },
   {
      "id":"9a1516a3.bd4448",
      "type":"invoke-action",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "action":"int-void",
      "uriVariables":"",
      "x":260,
      "y":780,
      "wires":[
         [
            "5b9091e4.3054b8"
         ]
      ]
   },
   {
      "id":"cbc1735a.989db",
      "type":"invoke-action",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "action":"int-string",
      "uriVariables":"",
      "x":260,
      "y":860,
      "wires":[
         [
            "5b9091e4.3054b8"
         ]
      ]
   },
   {
      "id":"86b1d50b.8814c",
      "type":"invoke-action",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "action":"int-int",
      "uriVariables":"",
      "x":260,
      "y":820,
      "wires":[
         [
            "5b9091e4.3054b8"
         ]
      ]
   },
   {
      "id":"d32fcd90.07c568",
      "type":"invoke-action",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "action":"void-obj",
      "uriVariables":"",
      "x":260,
      "y":900,
      "wires":[
         [
            "5b9091e4.3054b8"
         ]
      ]
   },
   {
      "id":"d52eeb6c.6333f",
      "type":"invoke-action",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "action":"obj-void",
      "uriVariables":"",
      "x":260,
      "y":940,
      "wires":[
         [
            "5b9091e4.3054b8"
         ]
      ]
   },
   {
      "id":"4a50a0bf.091608",
      "type":"invoke-action",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "action":"void-int",
      "uriVariables":"",
      "x":260,
      "y":740,
      "wires":[
         [
            "5b9091e4.3054b8"
         ]
      ]
   },
   {
      "id":"ff074db2.b6c23",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"Nothing",
      "props":[
         
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "x":90,
      "y":700,
      "wires":[
         [
            "75511d45.37d414"
         ]
      ]
   },
   {
      "id":"4d1e2591.f75f8c",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"Nothing",
      "props":[
         
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "x":90,
      "y":740,
      "wires":[
         [
            "4a50a0bf.091608"
         ]
      ]
   },
   {
      "id":"cfeaf10d.d025a8",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"123",
      "payloadType":"num",
      "x":90,
      "y":780,
      "wires":[
         [
            "9a1516a3.bd4448"
         ]
      ]
   },
   {
      "id":"b8c5a458.d75da8",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"321",
      "payloadType":"num",
      "x":90,
      "y":820,
      "wires":[
         [
            "86b1d50b.8814c"
         ]
      ]
   },
   {
      "id":"d3016772.1b36d",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"1337",
      "payloadType":"num",
      "x":90,
      "y":860,
      "wires":[
         [
            "cbc1735a.989db"
         ]
      ]
   },
   {
      "id":"91ed79e3.ed70e",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"Nothing",
      "props":[
         
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "x":90,
      "y":900,
      "wires":[
         [
            "d32fcd90.07c568"
         ]
      ]
   },
   {
      "id":"1bfb4c1.f795034",
      "type":"inject",
      "z":"11f57824.83b42",
      "name":"Object",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"{ \"name\":\"John\", \"age\":30, \"cars\":[ \"Ford\", \"BMW\", \"Fiat\" ] } ",
      "payloadType":"json",
      "x":90,
      "y":940,
      "wires":[
         [
            "d52eeb6c.6333f"
         ]
      ]
   },
   {
      "id":"1b246607.dd8782",
      "type":"debug",
      "z":"11f57824.83b42",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":690,
      "y":220,
      "wires":[
         
      ]
   },
   {
      "id":"e016a7af.9ce7a8",
      "type":"comment",
      "z":"11f57824.83b42",
      "name":"Read - Property",
      "info":"",
      "x":120,
      "y":100,
      "wires":[
         
      ]
   },
   {
      "id":"eb78e2d6.1f5c38",
      "type":"comment",
      "z":"11f57824.83b42",
      "name":"Write - Property",
      "info":"",
      "x":120,
      "y":360,
      "wires":[
         
      ]
   },
   {
      "id":"5aa3f673.94f58",
      "type":"comment",
      "z":"11f57824.83b42",
      "name":"Actions",
      "info":"",
      "x":90,
      "y":660,
      "wires":[
         
      ]
   },
   {
      "id":"eea18f27.55f0c8",
      "type":"comment",
      "z":"11f57824.83b42",
      "name":"Events",
      "info":"",
      "x":90,
      "y":1000,
      "wires":[
         
      ]
   },
   {
      "id":"4435ecb.35b2d94",
      "type":"subscribe-event",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "event":"on-bool",
      "x":120,
      "y":1040,
      "wires":[
         [
            "d0f6660.3c9b898"
         ]
      ]
   },
   {
      "id":"9cc1afb0.57921",
      "type":"subscribe-event",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "event":"on-int",
      "x":110,
      "y":1080,
      "wires":[
         [
            "d0f6660.3c9b898"
         ]
      ]
   },
   {
      "id":"f0937d6f.d7a2e8",
      "type":"subscribe-event",
      "z":"11f57824.83b42",
      "name":"",
      "topic":"",
      "thing":"3b34f130.bcc94e",
      "event":"on-num",
      "x":120,
      "y":1120,
      "wires":[
         [
            "d0f6660.3c9b898"
         ]
      ]
   },
   {
      "id":"5b9091e4.3054b8",
      "type":"debug",
      "z":"11f57824.83b42",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":690,
      "y":800,
      "wires":[
         
      ]
   },
   {
      "id":"d0f6660.3c9b898",
      "type":"debug",
      "z":"11f57824.83b42",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":690,
      "y":1080,
      "wires":[
         
      ]
   },
   {
      "id":"44cfdca8.0f8f74",
      "type":"debug",
      "z":"9a464e08.9f2be8",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":570,
      "y":580,
      "wires":[
         
      ]
   },
   {
      "id":"7d30c9dc.f65f18",
      "type":"websocket in",
      "z":"9a464e08.9f2be8",
      "name":"",
      "server":"",
      "client":"2c97c20b.4df60e",
      "x":220,
      "y":580,
      "wires":[
         [
            "44cfdca8.0f8f74"
         ]
      ]
   },
   {
      "id":"63158955.597628",
      "type":"read-property",
      "z":"9a464e08.9f2be8",
      "name":"",
      "topic":"",
      "thing":"90f60252.ddce1",
      "property":"CO2",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":90,
      "y":200,
      "wires":[
         [
            "9cade4ae.8e6a68"
         ]
      ]
   },
   {
      "id":"109a685.4ad1398",
      "type":"read-property",
      "z":"9a464e08.9f2be8",
      "name":"",
      "topic":"",
      "thing":"90f60252.ddce1",
      "property":"Temperature",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":120,
      "y":260,
      "wires":[
         [
            "9cade4ae.8e6a68"
         ]
      ]
   },
   {
      "id":"f31a5328.0eb77",
      "type":"read-property",
      "z":"9a464e08.9f2be8",
      "name":"",
      "topic":"",
      "thing":"90f60252.ddce1",
      "property":"pH",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":90,
      "y":320,
      "wires":[
         [
            "9cade4ae.8e6a68"
         ]
      ]
   },
   {
      "id":"30038268.9654ae",
      "type":"comment",
      "z":"9a464e08.9f2be8",
      "name":"Events",
      "info":"",
      "x":70,
      "y":540,
      "wires":[
         
      ]
   },
   {
      "id":"ca16d4a9.0f6bf",
      "type":"comment",
      "z":"9a464e08.9f2be8",
      "name":"Properties",
      "info":"",
      "x":80,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"d25e94e4.a7e318",
      "type":"read-property",
      "z":"9a464e08.9f2be8",
      "name":"",
      "topic":"",
      "thing":"90f60252.ddce1",
      "property":"Gravity",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":100,
      "y":380,
      "wires":[
         [
            "9cade4ae.8e6a68"
         ]
      ]
   },
   {
      "id":"e6868200.db34c",
      "type":"read-property",
      "z":"9a464e08.9f2be8",
      "name":"",
      "topic":"",
      "thing":"90f60252.ddce1",
      "property":"Salinity",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":100,
      "y":440,
      "wires":[
         [
            "9cade4ae.8e6a68"
         ]
      ]
   },
   {
      "id":"9cade4ae.8e6a68",
      "type":"debug",
      "z":"9a464e08.9f2be8",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":570,
      "y":320,
      "wires":[
         
      ]
   },
   {
      "id":"aa9dbb81.5455c8",
      "type":"comment",
      "z":"9a464e08.9f2be8",
      "name":"PD1",
      "info":"",
      "x":310,
      "y":80,
      "wires":[
         
      ]
   },
   {
      "id":"42dfb483.8d6c14",
      "type":"comment",
      "z":"4d5af594.4bdbbc",
      "name":"PD2",
      "info":"",
      "x":330,
      "y":100,
      "wires":[
         
      ]
   },
   {
      "id":"95be6a25.daac58",
      "type":"read-property",
      "z":"4d5af594.4bdbbc",
      "name":"",
      "topic":"",
      "thing":"8f83ac4a.9376",
      "property":"AcousticTomopraphy",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":210,
      "y":220,
      "wires":[
         [
            "acbb4ff3.9c17d"
         ]
      ]
   },
   {
      "id":"f674e0ce.fd1af",
      "type":"read-property",
      "z":"4d5af594.4bdbbc",
      "name":"",
      "topic":"",
      "thing":"8f83ac4a.9376",
      "property":"GeoPositioning",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":190,
      "y":340,
      "wires":[
         [
            "acbb4ff3.9c17d"
         ]
      ]
   },
   {
      "id":"3a9868dd.178d48",
      "type":"read-property",
      "z":"4d5af594.4bdbbc",
      "name":"",
      "topic":"",
      "thing":"8f83ac4a.9376",
      "property":"OceanGraphicPoint",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":200,
      "y":400,
      "wires":[
         [
            "acbb4ff3.9c17d"
         ]
      ]
   },
   {
      "id":"acbb4ff3.9c17d",
      "type":"debug",
      "z":"4d5af594.4bdbbc",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":550,
      "y":320,
      "wires":[
         
      ]
   },
   {
      "id":"9d9a2c9b.3c471",
      "type":"comment",
      "z":"4d5af594.4bdbbc",
      "name":"Properties",
      "info":"",
      "x":140,
      "y":180,
      "wires":[
         
      ]
   },
   {
      "id":"ac549bea.5258b8",
      "type":"read-property",
      "z":"4d5af594.4bdbbc",
      "name":"",
      "topic":"",
      "thing":"fa68c6d7.81f75",
      "property":"AcousticEnvironment",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":210,
      "y":280,
      "wires":[
         [
            "acbb4ff3.9c17d"
         ]
      ]
   },
   {
      "id":"aec9e846.741858",
      "type":"comment",
      "z":"a966b4eb.df0498",
      "name":"PD4",
      "info":"",
      "x":400,
      "y":100,
      "wires":[
         
      ]
   },
   {
      "id":"4426d821.8ef32",
      "type":"comment",
      "z":"a966b4eb.df0498",
      "name":"Properties",
      "info":"",
      "x":180,
      "y":200,
      "wires":[
         
      ]
   },
   {
      "id":"207ef98b.e1c22e",
      "type":"read-property",
      "z":"a966b4eb.df0498",
      "name":"",
      "topic":"",
      "thing":"a0e58be2.3ad128",
      "property":"PipelineVibration",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":230,
      "y":240,
      "wires":[
         [
            "2b519f5.5ed0ae"
         ]
      ]
   },
   {
      "id":"48633c4e.65c434",
      "type":"read-property",
      "z":"a966b4eb.df0498",
      "name":"",
      "topic":"",
      "thing":"a0e58be2.3ad128",
      "property":"GUW",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":200,
      "y":300,
      "wires":[
         [
            "2b519f5.5ed0ae"
         ]
      ]
   },
   {
      "id":"2b519f5.5ed0ae",
      "type":"debug",
      "z":"a966b4eb.df0498",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":650,
      "y":260,
      "wires":[
         
      ]
   },
   {
      "id":"5d1d1822.ad4608",
      "type":"comment",
      "z":"7dd2b14f.06fe88",
      "name":"PD3",
      "info":"",
      "x":430,
      "y":80,
      "wires":[
         
      ]
   },
   {
      "id":"531afe47.515a98",
      "type":"read-property",
      "z":"7dd2b14f.06fe88",
      "name":"",
      "topic":"",
      "thing":"a0e58be2.3ad128",
      "property":"PipelineVibration",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":230,
      "y":220,
      "wires":[
         [
            "bff69275.4589d"
         ]
      ]
   },
   {
      "id":"4095a860.5902f",
      "type":"read-property",
      "z":"7dd2b14f.06fe88",
      "name":"",
      "topic":"",
      "thing":"45379bdd.bc54cc",
      "property":"GUW",
      "uriVariables":"",
      "interval":5,
      "observe":false,
      "x":200,
      "y":280,
      "wires":[
         [
            "bff69275.4589d"
         ]
      ]
   },
   {
      "id":"6231ef03.8db65",
      "type":"comment",
      "z":"7dd2b14f.06fe88",
      "name":"",
      "info":"",
      "x":180,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"bff69275.4589d",
      "type":"debug",
      "z":"7dd2b14f.06fe88",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":590,
      "y":260,
      "wires":[
         
      ]
   },
   {
      "id":"f9906a47.9d52b8",
      "type":"websocket in",
      "z":"a966b4eb.df0498",
      "name":"",
      "server":"b85b9db3.34a51",
      "client":"",
      "x":320,
      "y":440,
      "wires":[
         [
            "f64bcf48.6db33"
         ]
      ]
   },
   {
      "id":"4e0afea5.a9ada",
      "type":"comment",
      "z":"a966b4eb.df0498",
      "name":"Events",
      "info":"",
      "x":170,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"f64bcf48.6db33",
      "type":"debug",
      "z":"a966b4eb.df0498",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":650,
      "y":440,
      "wires":[
         
      ]
   }
]